@model IEnumerable<HololiveWeb.API.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

@if (User.IsInRole("admin"))
{
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h1>Products</h1>
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
    <hr/>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catetory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.img1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.img2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Catetory)
                    </td>
                    <td>
                        <img src="../../../../img/@Html.DisplayFor(modelItem => item.img1)" alt="" style="height: 50px; width: auto;">
                    </td>
                    <td>
                        <img src="../../../../img/@Html.DisplayFor(modelItem => item.img2)" alt="" style="height: 50px; width: auto;">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square fa-xl"style="color: #08f724;"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-delete-left fa-xl" style="color: red;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (totalPages > 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
        </ul>
    }
}
else
{
    <h1> Bạn không có quyền truy cập vào đây!!</h1>
}