@model HololiveWeb.API.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preview1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preview1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preview2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preview2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preview3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preview3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preview4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preview4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preview5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preview5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
