@model HololiveWeb.API.Models.Event
@Model.Date.ToString("dd/MM/yyyy")

@{
    ViewData["Title"] = "Details";
}
<style>
    .centered {
            display: flex;
            justify-content: center;
        }

        .main {
            width: 48%;
        }
        .alink{
            color: #1da0d0;
        }
</style>

<div class="centered" style="margin-top: 70px;">
        <div class="main">
            <p>@Html.DisplayFor(model => model.Date)</p>
            <h4 style="font-weight: 600; color: #1da0d0;">@Html.DisplayFor(model => model.Title)</h4>
            <div class="khoangcach2"></div>
            <p style="margin-top: 50px;">
                @Html.Raw(Model.Preview1)</p>
            <img src="../../../img/@Html.DisplayFor(model => model.Img1)" alt="" style="height: 380px; width: 705px;">
            <p style="margin-top: 30px;">@Html.Raw(Model.Preview2)</p>
            <br>
            <p>@Html.Raw(Model.Preview3)</p>
            <img src="../../../img/@Html.DisplayFor(model => model.Img2)" alt="" style="height: 380px; width: 705px;">
            <p>@Html.Raw(Model.Preview4)</p>
                        <img src="../../../img/@Html.DisplayFor(model => model.Img3)" alt="" style="height: 380px; width: 705px;">
<p>@Html.Raw(Model.Preview5)</p>
        </div>
    </div>



