@model IEnumerable<HololiveWeb.API.Models.Event>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preview1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preview2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preview3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preview4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preview5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preview1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preview2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preview3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preview4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preview5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
