@{
ViewData["Title"] = "Home Page";
var random = new Random();
var randomProducts = Model.Products.OrderBy(p => random.Next()).Take(8);

}

@model HololiveWeb.Models.CombinedData

<div id="loader" style="display: flex; justify-content: center; align-items: center;">
    <img src="../../img/gura.gif" alt="Loader Image" style="width: 100%; height: auto; object-fit: cover;">
</div>

<div style="display:none;" id="myDiv" class="animate-bottom">

    <!--Slide-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="height:1080px;">
                <img src="~/img/1213_Ayame_birth2023_twitter_EN.png" class="d-flex w-100" alt="..."
                    style="object-fit: cover;">
            </div>
            <div class="carousel-item" style="height: 1080px;">
                <img src="../img/holoXmasASMR_twitter_all_2.png" class="d-flex w-100" alt="..."
                    style="object-fit: cover;">
            </div>
            <div class="carousel-item" style="height:1080px;">
                <img src="../img/hololiveEN_Myth_smol_banner_EN_b.png" class="d-flex w-100" alt="...">
            </div>
            <div class="carousel-item" style="height:1080px;">
                <img src="../img/KoboKanaeru_2023_banner_EN_banne.png" class="d-flex w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--End Slide-->

    <!--Thông tin 1-->
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/Information_header.jpg" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 90%;">
        @foreach (var eventItem in Model.Events.Take(3))
        {
        <div class="row d-flex align-items-center p-3">
            <div class="col-2">
                <div class="cochu1" style="font-size: larger; text-align: center;">
                    @eventItem.Date.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="col-2">
                <div class="informationblue text-white"
                    style="background-color: #23c2fe; text-align: center; border-radius: 30px; width: 70%;">
                    Information
                </div>
            </div>
            <div class="col-8">
                <a href="@Url.Action("Details", "Events" , new { id=eventItem.Id })"
                    class="athongtin1">@eventItem.Title</a>
            </div>
        </div>
        }
    </div>
    <!--End Thông tin 1-->

    <!--Thông tin 2 New Arrival-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/newarrival.jpg" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            @foreach (var item in Model.Products.Take(18))
            {
            if (item.Catetory == "Voice") { // Thêm điều kiện kiểm tra danh mục là "Voice"
            <div class="col-3">
                <a href="../products/Details/@item.Id" class="sanpham1">
                    <img src="../../img/@Html.DisplayFor(modelItem => item.img1)" class="img-thumbnail" alt="..."
                        style="height: auto; width: 100%;"> @Html.DisplayFor(modelItem => item.Name)
                </a>
                <div class="sanpham2">
                    ¥@Html.DisplayFor(modelItem => item.Price)~
                </div>
                <br>
                <br>
                <br>
            </div>
            }
            }
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 2-->

    <!--Thông tin 3 Ending Soon-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/endingsoon.jpg" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            @foreach (var item in Model.Products.Take(11))
            {
            if (item.Catetory == "Merch"){
            <div class="col-3">
                <a href="../products/Details/@item.Id" class="sanpham1">
                    <img src="../img/@Html.DisplayFor(modelItem => item.img1)" class="img-thumbnail" alt="..."
                        style="height: auto; width: 100%;">

                    @Html.DisplayFor(modelItem => item.Name)
                </a>
                <div class="sanpham2">
                    ¥@Html.DisplayFor(modelItem => item.Price)~
                </div>
                <br>
                <br>
                <br>
            </div>
            }
            }
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 3-->

    <!--Thông tin 4 Digital Contents-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/digitalcontents.png" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            @foreach (var item in randomProducts) {
            <div class="col-3">
                <a href="../products/Details/@item.Id" class="sanpham1">
                    <img src="../img/@Html.DisplayFor(modelItem => item.img1)" class="img-thumbnail" alt="..."
                        style="height: auto; width: 100%;">

                    @Html.DisplayFor(modelItem => item.Name)
                </a>
                <div class="sanpham2">
                    ¥@Html.DisplayFor(modelItem => item.Price)~
                </div>
                <br>
                <br>
                <br>
            </div>
            }
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 4-->

    <!--Thông tin 5 RegularProducts-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/RegularProducts__header--title.png" alt="" style="height: auto; width: 110%;">
            </div>
            <div class="col"></div>
        </div>

    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            @foreach (var item in randomProducts) {
            <div class="col-3">
                <a href="../products/Details/@item.Id" class="sanpham1">
                    <img src="../img/@Html.DisplayFor(modelItem => item.img1)" class="img-thumbnail" alt="..."
                        style="height: auto; width: 100%;">

                    @Html.DisplayFor(modelItem => item.Name)
                </a>
                <div class="sanpham2">
                    ¥@Html.DisplayFor(modelItem => item.Price)~
                </div>
                <br>
                <br>
                <br>
            </div>
            }
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 5-->

    <!--Thông tin 6 -->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/Event__header--title.png" alt="" style="height: auto; width: 110%;">
            </div>
            <div class="col"></div>
        </div>

    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            <div class="col-4">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: 225px; width: 400px;">

                <a href="#" class="sanpham6">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="khoangcach2"></div>
                <div class="sanpham3">
                    カバー株式会社（本社：東京都港区、代表取締役社⻑：⾕郷元昭）は、弊社が運営する⼥性VTuberグループ「ホロライブ」所属の「⾓巻わため」において、2024年1⽉10⽇（⽔）に初となる全国流通フルアルバムのリリース、⾓巻わため
                    2nd Live「わためぇ Night Fever!! in TOK
                </div>
                <a href="#" class="Link">Read more</a>
                <br>
                <br>
                <br>
            </div>
            <div class="col-4">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: 225px; width: 400px;">

                <a href="#" class="sanpham6">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="khoangcach2"></div>
                <div class="sanpham3">
                    カバー株式会社（本社：東京都港区、代表取締役社⻑：⾕郷元昭）は、弊社が運営する⼥性VTuberグループ「ホロライブ」所属の「⾓巻わため」において、2024年1⽉10⽇（⽔）に初となる全国流通フルアルバムのリリース、⾓巻わため
                    2nd Live「わためぇ Night Fever!! in TOK
                </div>
                <a href="#" class="Link">Read more</a>
                <br>
                <br>
                <br>
            </div>
            <div class="col-4">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: 225px; width: 400px;">

                <a href="#" class="sanpham6">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="khoangcach2"></div>
                <div class="sanpham3">
                    カバー株式会社（本社：東京都港区、代表取締役社⻑：⾕郷元昭）は、弊社が運営する⼥性VTuberグループ「ホロライブ」所属の「⾓巻わため」において、2024年1⽉10⽇（⽔）に初となる全国流通フルアルバムのリリース、⾓巻わため
                    2nd Live「わためぇ Night Fever!! in TOK
                </div>
                <a href="#" class="Link">Read more</a>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!--End Thông tin 6-->
</div>

<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>