@{
    ViewData["Title"] = "Home Page";
}

@model HololiveWeb.Models.CombinedData


<h2>Products</h2>
@if (Model.Products != null && Model.Products.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products available.</p>
}
 <!--Slide-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="height:704px;">
                <img src="~/img/doremi.jpg" class="d-flex w-100" alt="...">
            </div>
            <div class="carousel-item" style="height:704px;">
                <img src="../img/doremi.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="height:704px;">
                <img src="../img/pxfuel (3).jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--End Slide-->

    <!--Thông tin 1-->
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/Information_header.jpg" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 90%;">
        @foreach (var eventItem in Model.Events.Take(3))
        {
            <div class="row d-flex align-items-center p-3">
                <div class="col-2">
                    <div class="cochu1" style="font-size: larger; text-align: center;">
                        @eventItem.Date.ToString("dd/MM/yyyy")
                    </div>
                </div>
                <div class="col-2">
                    <div class="informationblue text-white"
                        style="background-color: #23c2fe; text-align: center; border-radius: 30px; width: 70%;">
                        Information
                    </div>
                </div>
                <div class="col-8">
                    <a href="@Url.Action("Details", "Events", new { id = eventItem.Id })" class="athongtin1">@eventItem.Title</a>
                </div>
            </div>
        }
    </div>
    <!--End Thông tin 1-->


    <!--Thông tin 2 New Arrival-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/newarrival.jpg" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 2-->

    <!--Thông tin 3 Ending Soon-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/endingsoon.jpg" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 3-->

    <!--Thông tin 4 Digital Contents-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/digitalcontents.png" alt="" style="height: auto; width: 100%;">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 4-->

    <!--Thông tin 5 RegularProducts-->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/RegularProducts__header--title.png" alt="" style="height: auto; width: 110%;">
            </div>
            <div class="col"></div>
        </div>

    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: auto; width: 100%;">
                <a href="#" class="sanpham1">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="sanpham2">
                    ¥1,210~
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <img src="../img/viewall.png" alt="" style="height: auto; width: 220px;">
            </div>
        </div>
    </div>
    <!--End Thông tin 5-->

    <!--Thông tin 6 -->
    <div class="khoangtrang"></div>
    <div class="khoangtrang"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-3 justify-content-center">
                <img src="../img/Event__header--title.png" alt="" style="height: auto; width: 110%;">
            </div>
            <div class="col"></div>
        </div>

    </div>
    <div class="khoangtrang"></div>

    <div class="container" style="width: 85%;">
        <div class="row">
            <div class="col-4">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: 225px; width: 400px;">

                <a href="#" class="sanpham6">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="khoangcach2"></div>
                <div class="sanpham3">
                    カバー株式会社（本社：東京都港区、代表取締役社⻑：⾕郷元昭）は、弊社が運営する⼥性VTuberグループ「ホロライブ」所属の「⾓巻わため」において、2024年1⽉10⽇（⽔）に初となる全国流通フルアルバムのリリース、⾓巻わため
                    2nd Live「わためぇ Night Fever!! in TOK
                </div>
                <a href="#" class="Link">Read more</a>
                <br>
                <br>
                <br>
            </div>
            <div class="col-4">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: 225px; width: 400px;">

                <a href="#" class="sanpham6">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="khoangcach2"></div>
                <div class="sanpham3">
                    カバー株式会社（本社：東京都港区、代表取締役社⻑：⾕郷元昭）は、弊社が運営する⼥性VTuberグループ「ホロライブ」所属の「⾓巻わため」において、2024年1⽉10⽇（⽔）に初となる全国流通フルアルバムのリリース、⾓巻わため
                    2nd Live「わためぇ Night Fever!! in TOK
                </div>
                <a href="#" class="Link">Read more</a>
                <br>
                <br>
                <br>
            </div>
            <div class="col-4">
                <img src="../img/sanpham.jpg" class="img-thumbnail" alt="..." style="height: 225px; width: 400px;">

                <a href="#" class="sanpham6">
                    Sakamata Chloe 2nd Anniversary Celebration
                </a>
                <div class="khoangcach2"></div>
                <div class="sanpham3">
                    カバー株式会社（本社：東京都港区、代表取締役社⻑：⾕郷元昭）は、弊社が運営する⼥性VTuberグループ「ホロライブ」所属の「⾓巻わため」において、2024年1⽉10⽇（⽔）に初となる全国流通フルアルバムのリリース、⾓巻わため
                    2nd Live「わためぇ Night Fever!! in TOK
                </div>
                <a href="#" class="Link">Read more</a>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!--End Thông tin 6-->


